polkit.addRule(function(action, subject) {
    if (subject.user == "chamsys" && subject.local && subject.active &&
        action.id.indexOf("org.freedesktop.NetworkManager.") == 0) {
        return polkit.Result.YES;
    }
});
