[Desktop Entry]
Type=Application
Name=Web browser
Name[it]=Browser web
Comment=Browse websites with the complete touch-friendly browser
Comment[it]=Naviga sul web con il browser completo ottimizzato per il touch
Exec=/usr/local/bin/wasalight-browser
Icon=/usr/local/share/icons/wasalight/browser.svg
TryExec=/usr/local/bin/wasalight-browser
StartupNotify=false
X-Wasalight-Section=Applications
X-Wasalight-Order=30
