[Desktop Entry]
Type=Application
Name=Calculator
Name[it]=Calcolatrice
Comment=Lightweight scientific calculator
Comment[it]=Calcolatrice scientifica leggera
Exec=galculator
Icon=accessories-calculator
TryExec=galculator
X-Wasalight-Section=Applications
X-Wasalight-Order=40
