[Desktop Entry]
Type=Application
Name=Calcolatrice
Comment=Calcolatrice scientifica leggera
Exec=galculator
Icon=accessories-calculator
TryExec=galculator
X-Wasalight-Section=Applications
X-Wasalight-Order=40
