[Desktop Entry]
Type=Application
Name=Companion
Name[it]=Companion
Comment=Open the local Companion interface in the touch browser
Comment[it]=Apre l'interfaccia locale Companion nel browser touch
Exec=/usr/local/bin/wasalight-companion-browser
Icon=/usr/local/share/icons/wasalight/companion-official.png
TryExec=/usr/local/bin/wasalight-companion-browser
StartupNotify=false
X-Wasalight-Section=Applications
X-Wasalight-Order=31
