[Desktop Entry]
Type=Application
Name=Date and time
Name[it]=Data e ora
Comment=Synchronize the clock and configure date, time and timezone
Comment[it]=Sincronizza l’orologio e configura data, ora e fuso
Exec=/usr/local/bin/wasalight-date-time
Icon=preferences-system-time
TryExec=/usr/local/bin/wasalight-date-time
X-Wasalight-Section=Support
X-Wasalight-Order=15
