[Desktop Entry]
Type=Application
Name=Display
Name[it]=Schermo
Comment=Configure monitors and resolution
Comment[it]=Configura monitor e risoluzione
Exec=lxrandr
Icon=video-display
TryExec=lxrandr
X-Wasalight-Section=Support
X-Wasalight-Order=20
