[Desktop Entry]
Type=Application
Name=Files
Name[it]=File
Comment=Open persistent data and USB drives
Comment[it]=Apre dati persistenti e chiavette USB
Exec=pcmanfm /data
Icon=/usr/local/share/icons/wasalight/files.svg
TryExec=pcmanfm
X-Wasalight-Section=Applications
X-Wasalight-Order=10
