[Desktop Entry]
Type=Application
Name=On-screen keyboard
Comment=Apre la tastiera touch Onboard
Exec=onboard
Icon=input-keyboard
TryExec=onboard
X-Wasalight-Section=Support
X-Wasalight-Order=110
