[Desktop Entry]
Type=Application
Name=Tastiera
Comment=Apre o chiude la tastiera virtuale touch
Exec=/usr/local/bin/wasalight-keyboard-toggle
Icon=/usr/local/share/icons/wasalight/keyboard.svg
TryExec=/usr/local/bin/wasalight-keyboard-toggle
X-Wasalight-Section=Applications
X-Wasalight-Order=50
