[Desktop Entry]
Type=Application
Name=Installa o aggiorna MagicQ
Comment=Installa soltanto MagicQ da USB, anche senza Internet
Exec=/usr/local/bin/wasalight-magicq-install-ui
Icon=/usr/local/share/icons/wasalight/magicq-install.svg
TryExec=/usr/local/bin/wasalight-magicq-install-ui
X-Wasalight-Section=MagicQ
X-Wasalight-Order=20
