[Desktop Entry]
Type=Application
Name=Mousepad
Name[it]=Mousepad
Comment=Lightweight text editor for notes, logs and configuration
Comment[it]=Editor di testo leggero per note, log e configurazioni
Exec=mousepad
Icon=accessories-text-editor
TryExec=mousepad
X-Wasalight-Section=Applications
X-Wasalight-Order=41
