[Desktop Entry]
Type=Application
Name=Network
Name[it]=Rete
Comment=Configure Ethernet and Wi-Fi
Comment[it]=Configura Ethernet e Wi-Fi
Exec=nm-connection-editor
Icon=/usr/local/share/icons/wasalight/network.svg
TryExec=nm-connection-editor
X-Wasalight-Section=Support
X-Wasalight-Order=10
