[Desktop Entry]
Type=Application
Name=Network
Name[it]=Rete
Comment=Configure Ethernet and Wi-Fi
Comment[it]=Configura Ethernet e Wi-Fi
Exec=/usr/local/bin/wasalight-control --page network
Icon=/usr/local/share/icons/wasalight/network.svg
TryExec=/usr/local/bin/wasalight-control
X-Wasalight-Section=Support
X-Wasalight-Order=10
