[Desktop Entry]
Type=Application
Name=Installa plugin firmato
Comment=Importa da USB un bundle verificato in MAINTENANCE
Exec=/usr/local/bin/wasalight-plugin-bundle-terminal
Icon=application-x-addon
TryExec=/usr/local/bin/wasalight-plugin-bundle-terminal
X-Wasalight-Section=Support
X-Wasalight-Order=74
