[Desktop Entry]
Type=Application
Name=Monitor sistema
Comment=Mostra processi e utilizzo di CPU e memoria
Exec=lxtask
Icon=/usr/local/share/icons/wasalight/system-monitor.svg
TryExec=lxtask
X-Wasalight-Section=Support
X-Wasalight-Order=58
