[Desktop Entry]
Type=Application
Name=Terminal
Name[it]=Terminale
Comment=Open the maintenance terminal
Comment[it]=Apre il terminale di manutenzione
Exec=lxterminal
Icon=/usr/local/share/icons/wasalight/terminal.svg
TryExec=lxterminal
X-Wasalight-Section=Support
X-Wasalight-Order=60
