[Desktop Entry]
Type=Application
Name=Update Wasalight
Name[it]=Aggiorna Wasalight
Comment=Download and install the latest version in MAINTENANCE
Comment[it]=Scarica e installa l’ultima versione in MAINTENANCE
Exec=/usr/local/bin/wasalight-update-terminal
Icon=system-software-update
TryExec=/usr/local/bin/wasalight-update-terminal
X-Wasalight-Section=Support
X-Wasalight-Order=100
